main {
  flex: 1;
  h1 {
    padding: 2% 0;
  }
  .products {
    .product {
      img {
        width: 70%;
        max-width: 400px;
      }
      .info {
        padding: 1rem;
      }
    }
  }
}

.custom-nav {
  // width: 20%;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // background-color: aquamarine;
}

.custom-nav .nav-link {
  color: white;
  :hover {
    color: rgb(226, 226, 226);
  }
}
